In [ ]:
# ①Pokemon.csv データを読み込み、先頭から3行を表示する

# pandas のインポート
import pandas as pd

# Pokemon.csvを読み込み、df という変数に格納する。エンコードは utf-8 とする。
df = pd.read_csv("Pokemon.csv")

# dfの先頭から3行を表示する
df.head(3)

   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False
2  3   Venusaur  Grass  Poison  ...      100     80           1      False

[3 rows x 13 columns]

In [ ]:
# ②joincsv.csv を読み込み、joindf という変数に格納する
joindf = pd.read_csv("joincsv.csv", encoding = "shift-jis")

# joindf の最初から10行を表示する
joindf.head(10)

         Name     名前
0   Bulbasaur  フシギダネ
1     Ivysaur  フシギソウ
2    Venusaur  フシギバナ
3  Charmander   ヒトカゲ
4  Charmeleon   リザード
5   Charizard  リザードン
6    Squirtle   ゼニガメ
7   Wartortle   カメール
8   Blastoise  カメックス
9    Caterpie  キャタピー

In [ ]:
# df の Name 列と joindf の Name 列 を内部結合し、indf というデータに格納する
# 結合の方法は内部結合とする
indf = pd.merge(df, joindf, on = "Name")


# indfの全データを「indf.csv」という名前で保存する
indf
indf.to_csv("indf.csv", encoding = "shift-jis")

In [ ]:
# df の Name 列と joindf の Name 列 を内部結合し、leftdf というデータに格納する
# 結合の方法は左外部結合とする
leftdf = pd.merge(df, joindf, how = "left")

# indfの全データを「leftdf.csv」という名前で保存する
leftdf
leftdf.to_csv("leftdf.csv")