### Numpy

# Numpyの一次元配列

公式：https://numpy.org/doc/stable/reference/

**ポイント：**

・Pythonで数値計算を効率的に行うためのライブラリである。

・ベクトル（１次元配列）や行列（２次元配列）などの多次元配列を効率よく扱うことができる。

①Numpyをインポートし、npという名前で呼び出せるように別名を付ける

In [ ]:
import numpy as np

②Numpy の 一次元配列を作成し、aという変数に代入する。
内容は 1,2,3とする


![4-1-1.png]()

In [ ]:
# 一次元配列の作り方
a = np.array([1, 2, 3])

③変数 a の内容を表示する。ただし、printを使わず出力すること

In [ ]:
a

array([1, 2, 3])

④変数 a の内容をprintを使って表示する。

In [ ]:
print(a)

{1, 2, 3}

⑤変数 a のオブジェクト型を type関数を使って確認する。

In [ ]:
type(a)

numpy.ndarray

⑥ 変数 a の要素数を shape を使って確認する。

In [ ]:
# 要素数の求め方
a.shape

(3,)

# 二次元配列

①変数 b に以下のような二次元配列を作成して代入する。
変数は array 関数を使用すること。

![4-1-2.png]()

In [ ]:
# 二次元配列の作り方
b = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])

② ①で作成した二次元配列の要素数を shape を使って確認

In [ ]:
# 二次元配列の要素数
b.shape

(2, 4)

③ c1 という一次元配列を作成する。内容は以下のとおりとする。 

![4-1-3.png]()

In [ ]:
c1 = np.array([1, 2, 3, 4, 5, 6, 7, 8])

④ reshap を使って③のデータを2行の配列に変換し、c2という変数に代入する。

In [ ]:
# reshapeで一次元配列を二次元配列にできる
c2 = c1.reshape((2, 4))
c2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

⑤ reshapeを使って③のデータを4行2列（4×2）行列に変換し c3 という変数に代入する。

In [ ]:
c3 = c1.reshape((4, 2))
c3

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

⑥ ⑤で作成した c3 を一次元配列に変換する。
新しい変数 c4 にはravelで変換した結果を、c5にはflatten を用いて変換した結果を代入する。

In [ ]:
c4 = c3.ravel()
print("c4:", c4)

c5 = c3.flatten()
print("c5:", c5)

c4: [1 2 3 4 5 6 7 8]
c5: [1 2 3 4 5 6 7 8]

# データ型

①これまでに作成した変数 a,b,c1,c2,c3の型dtypeqを使って確認する。出力は printを使用し画面表示すること。

In [ ]:
# dtype関数を使い、型を抽出する
print("a:",a.dtype)
print("b:",b.dtype)
print("c1:",c1.dtype)
print("c2:",c2.dtype)
print("c3:",c3.dtype)

a: int64
b: int64
c1: int64
c2: int64
c3: int64

② int16 を指定して変数 d に 一次元配列 [0,5] を代入する。
dtypeを使って、変数の型を確認すること。

In [ ]:
# int16 → 16ビットの符号付き整数
d = np.array([1,2], dtype = np.int16)
d

array([1, 2], dtype=int16)

③ 変数 d の値を float16に変換する。
dtypeを使って、変数の型を確認すること

In [ ]:
d.astype(np.float16)

array([1., 2.], dtype=float16)

● int32, int64 など変数の型の違いについて調べてみよう

参考：https://python.atelierkobato.com/dtype/


※ int32 が -2147483648 ～ 2147483647 の理由 ： 2 ** 32 が表現できる範囲のため

# インデックスとスライス

**※超重要！！！**

インデックスはこれまで学習したpythonのインデックスとほぼ同じ

In [ ]:
import numpy as np
test1 = np.array([1, 10, 4, 1, 15, 10, 21])

# test1の中の インデックス 0番目のデータのみ print で表示する
print(test1[0])

# ① test1の中の 2番目のデータのみ print で表示する
print(test1[2])

# ② test1の中の 最後のインデックスのデータのみprintで表示する
print(test1[-1])

1
4
21

**一次元配列のスライス**

連続しているデータの範囲を指定して取り出す方法

[start : stop : step ]  形式で任意の位置から取り出しが可能

最後のstepは記載がなければ1つずつとなる。

In [ ]:
# 例　まずは動きを確認 ちょっと想像と違うかもしれない。特にstopに注意

import numpy as np
test2 = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8])

# 0から2を指定した場合
s1 = test2[0:2]
print('s1 = ', s1)

# 2から6を指定した場合
s2 = test2[2:6]
print('s2 = ', s2)

# 全範囲を指定する場合
s3 = test2[:]
print('s3 = ', s3)

# stopを省略すると、最後まで取得できる
s4 = test2[3:]
print('s4 = ', s4)

# startを省略すると、先頭からstop-1番目までがスライスされる
s5 = test2[:3]
print('s5 = ', s5)

# 逆順に全部
s6 = test2[::-1]
print('s6 = ', s6)

s1 =  [0 1]
s2 =  [2 3 4 5]
s3 =  [0 1 2 3 4 5 6 7 8]
s4 =  [3 4 5 6 7 8]
s5 =  [0 1 2]
s6 =  [8 7 6 5 4 3 2 1 0]

**●s1の結果からわかることを以下のように文章でまとめた。文中に当てはまる文言を考えよう。**

stopに指定されたインデックスはスライスする際に[範囲外]になる。

インデックス0番目から3番目までのデータを取得したい場合は、stopに[３＋１] の値を指定しなければならない。

【演習】
以下のコメント通りの出力結果になるようにソースコードを追記してください。

In [ ]:
import numpy as np
test3 = np.array(range(10))

# test3の全範囲を取得し、表示
print(test3)

# test3のインデックス 0番目から2番目までの3つのデータを取得
print(test3[0:3])

# test3のインデックス2番目から最後までのデータを取得
print(test3[2:])

[0 1 2 3 4 5 6 7 8 9]
[0 1 2]
[2 3 4 5 6 7 8 9]

**二次元配列のスライス**

基本的には一次元とほぼ同じ。
次元ごとに[:,:,:]のようにカンマ「,」で区切り表現する

In [ ]:
# 例

# 二次元配列を作成
t = np.array(range(10))
test4 = t.reshape((2,5))

# 表示
print(test4)

[[0 1 2 3 4]
 [5 6 7 8 9]]

In [ ]:
# 値一つだけを指定すると、行方向の配列が取得可能
m1 = test4[0]
print(m1)

[0 1 2 3 4]

イメージで覚える

![4_1_25.PNG]()

真ん中の,(カンマ)の左側は行、右側は列のスライスを指定する

In [ ]:
# すべてのデータをスライスで指定する
m2 = test4[:,:]
print(m2)

# 3列目から最後の列までを指定する
m3 = test4[:,3:]
print(m3)

# 0行目の2列目と3列目だけを指定する
m4 = test4[0, 2:4]
print(m4)

[[0 1 2 3 4]
 [5 6 7 8 9]]
[[3 4]
 [8 9]]
[2 3]

【演習】以下のようなNumPyの二次元配列 test5 を定義し、コメントに従って適切なデータを取得しましょう。
データの取得にはスライスを使用すること。

![4_1_26.PNG]()

In [ ]:
# test5を定義
test5 = np.array(range(1, 10+1))
test5= test5.reshape(2, 5)

# test5の1行目（6,7,8,9,10）を取得し、printで表示
print(test5[1])

# test5の2列目から最後の列まで取得、printで表示
print(test5[:,2:])

# test5の1行目、2列目から3列目まで（8,9）を取得し、printで表示
print(test5[1:, 2:4])

# test5の0列目だけを取得し、printで表示
print(test5[:,0:1])

[ 6  7  8  9 10]
[[ 3  4  5]
 [ 8  9 10]]
[[8 9]]
[[1]
 [6]]

※文章の穴埋めの解答例。

**●s1の結果からわかることを以下のように文章でまとめた。文中に当てはまる文言を考えよう。**

stopに指定されたインデックスはスライスする際に[範囲外]になる。

インデックス0番目から3番目までのデータを取得したい場合は、stopに[3+1] の値を指定しなければならない。