**初めてのColab**

Pythonを復習しつつ、便利機能を覚えまし
ょう

In [ ]:
# ここにコーディングができる。
# コーディングのエリアは左上の「＋コード」テキストエリアは「＋テキスト」で追加可能
# 実行はセルの左の三角ボタン

1 + 10の結果を表示

In [ ]:
1+10

11

❓
10, 30, 12 の平均を求める

ヒント：平均の求め方は、すべての数の合計 ÷ 数の個数

In [1]:
# ここに平均を求める式を書く
(10 + 30 + 12) /3

17.333333333333332

なんとColab上では変数も使用できます。

a という変数に "hello world"という文字を代入し、printで表示する

In [ ]:
a = "hello world"
print(a)

hello world

前のセルで定義済みの変数は次のセルでも使用可能

In [ ]:
b = a + 'こんにちは！'
print(b)

hello worldこんにちは！

❓
0～10までの数値のリストを作成し、printで表示してください。
**ただし、リストの値を作成する際は for を使わず、rangeを使用すること。**

どうしてもわからない人はこちらのヒントを確認し自力でやろう：

https://www.delftstack.com/ja/howto/python/python-list-from-1-to-n/

▼ range のエラーが出る人は…
正しく入力しても、「TypeError: 'list' object is not callable in python」と表示されてしまう場合は以下の記事を確認してみましょう。

https://qiita.com/akkkkiii1/items/bfbcaafbf6fead7b6f41

In [ ]:
# ここにソースコードを記載する
lst = list(range(1,10+1))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
whos

Variable   Type    Data/Info
----------------------------
lst        list    n=10

In [ ]:
# 問題ある場合のみ以下を実行
# del list

❓
11～21までの数値のリストを作成し、printで表示してください。
**ただし、リストの値を作成する際は for を使わず、rangeを使用すること。**

In [ ]:
lst = list(range(11,21+1))
print(lst)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

関数も作成可能です。
以下は二つの数字を受け取って、平均を求める関数です。

In [ ]:
def dispavg(x, y):
    print('最初の値', x)
    print('二つ目の値', y)
    avg = (x + y) / 2
    print('二つの値の平均値', avg)

a = 10
b = 20

dispavg(a, b)

最初の値 10
二つ目の値 20
二つの値の平均値 15.0

❓
三つの数を受け取って、平均を表示する関数を作成してください。
関数に渡す引数の値は 10.1, 3.14, 14としてください。

In [ ]:
def dispavg(x, y, z):
    print('最初の値', x)
    print('二つ目の値', y)
    print('三つ目の値', z)
    avg = (x + y + z) / 3
    print('三つの値の平均値', avg)

a = 10.1
b = 3.14
c = 14

dispavg(a, b, c)

最初の値 10.1
二つ目の値 3.14
三つ目の値 14
三つの値の平均値 9.08

❓
冬休みの課題の「Kadai3.py」を参考に、
三つの数を受け取って、**平均と最大値を戻り値とする関数**を作成してください。
関数に渡す引数の値は 10.1, 3.14, 14としてください。 
戻り値はreturnを一回だけ使用して返却するように記載すること。

In [ ]:
def dispavg(x, y, z):
    print('最初の値', x)
    print('二つ目の値', y)
    print('三つ目の値', z)
    avg = (x + y + z) / 3

    max = x
    if max < y:
        max = y
    if max < z:
        max = z
    
    return avg,max
    

a = 10.1
b = 3.14
c = 14

d, e = dispavg(a, b, c)
print('最大値：',e,'平均値：',d)

最初の値 10.1
二つ目の値 3.14
三つ目の値 14
最大値： 14 平均値： 9.08

他にも、様々なことが結構簡単にできます。以下を実行すると…？

In [ ]:
import folium

map1 = folium.Map(location=[35.697, 139.755], height=400, zoom_start=20)
map1