CSVデータの読み込み

CSVデータとは…カンマ区切りのデータのこと

In [ ]:
import pandas as pd

#例１） ; で区切られている場合の例
student_data_por = pd.read_csv('student-por.csv', sep=';')
student_data_por.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        4   0  11  11
1     GP   F   17       U     GT3       T  ...     1       3        2   9  11  11
2     GP   F   15       U     LE3       T  ...     3       3        6  12  13  12
3     GP   F   15       U     GT3       T  ...     1       5        0  14  14  14
4     GP   F   16       U     GT3       T  ...     2       5        0  11  13  13

[5 rows x 33 columns]

In [ ]:
#練習１）
#  | で区切られた 「ex1.csv」を読み込んでtestdfに格納してみましょう
testdf = pd.read_csv("ex1.csv", sep = "|")
testdf.head()

  Mr.Bennet       was   among       the  earliest      of those
0       who    waited      on       Mr.  Bingley.      He   had
1    always  intended      to     visit       him  though    to
2       the      last  always  assuring       his    wife  that
3        he    should     not       go;       and    till   the
4   evening     after     the     visit       was    paid   she

In [ ]:
# 例２）
# ヘッダーがないデータは header = None として読み込む必要がある
# ヘッダーを自分で命名する場合は, names=['ヘッダ名1', 'ヘッダ名2'...] とする
# ヘッダ名を命名しない場合は、自動で列番号が付加される
test = pd.read_csv('test.csv', sep='|', header = None)
test

In [ ]:
# 練習２
# 例２を参考に、ヘッダがない「ex2.csv」データを読み込みましょう。
# ヒント：区切り文字が何か必ず確認してから読み込もう
testdf2 = pd.read_csv("ex2.csv", header=None, names = ["a", "b", "c", "d","e","f","g", "h", "i"])
testdf2

   a   b   c   d   e   f   g   h   i
0  1   2   3   4   5   6   7   8   9
1  2   4   6   8  10  12  14  16  18
2  3   6   9  12  15  18  21  24  27
3  4   8  12  16  20  24  28  32  36
4  5  10  15  20  25  30  35  40  45
5  6  12  18  24  30  36  42  48  54
6  7  14  21  28  35  42  49  56  63
7  8  16  24  32  40  48  56  64  72
8  9  18  27  36  45  54  63  72  81

**文字コードに応じた読み込み方を覚えよう**

…文字コードが UTF-8 か shift-jis なのかはメモ帳を使いましょう。

In [ ]:
# 例３）
# データに日本語が含まれている場合はエンコードの指定が必要
test2 = pd.read_csv('japanese-char.csv', encoding='shift-jis')
test2

     氏名  年齢       出身地
0   たろう  18        青森
1  John  48    London
2    花子  30        大阪
3  Beth  10  New York

In [ ]:
# 例４）
# UTF-8の場合はエンコードを指定しなくてもOK
test2 = pd.read_csv('japanese-char-2.csv')
test2

     氏名  年齢       出身地
0   たろう  18        青森
1  John  48    London
2    花子  30        大阪
3  Beth  10  New York

In [ ]:
# 練習３）
# 文字コードがshift-jisのデータ「ex3.csv」を読み込みましょう
testdf3 = pd.read_csv("ex3.csv", encoding = "shift-jis")
testdf3

    かうもの  個数 チェック
0    わさび   1    済
1   コーヒー   3  NaN
2  ティッシュ   1    済
3     電池   5  NaN